<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dwservices.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/fae02910-4425-4d4c-955e-3f77933e196c/resourceGroups/AUTOCORP_Datawarehouse/providers/Microsoft.Web/sites/dwservices</ResourceId>
    <IsLinux>true</IsLinux>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://dwservices.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>